
html{
  height: 100%;
  width: 100%;
}

body {
  background-color: #E8F7CF;
  margin-left: 40px;
  margin-right: 40px;
  height: 100%;
  width: 100%;
}

h1 {
  background-color: #F5C062;
  text-align: center;
  font-family: segoe UI;
  letter-spacing: 5px;
  word-spacing: 10px;
}

p {
  font-size: 18px;
  font-family: arial;
  padding-left: 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
  list-style: none;
  width: 800px;
}

.gallery>li {
  flex-basis: 250px;
}

.gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

.image-gallery::after {
  content: "";
  flex-basis: 250px;
}

.imagenli{
  margin-top: 20px;
  list-style: none;
}